<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--日志文件路径-->
    <add key="LogFilePath" value="" />
    <!--执行脚本前是否备份数据库,0表示不备份，1表示备份，建议默认为1-->
    <add key="NeedBackupDatabase" value="1"/>
    <!--执行脚本数据库默认备份路径-->
    <add key="DataBaseBackupPath" value=""/>
    <!---执行脚本前是否检查脚本中指定了数据库名称，0表示不检查，1表示检查-->
    <add key="CheckDataBase" value="1"/>
    <!---数据库升级或脚本查找要忽略的文件夹，中间用“|”隔开  -->
    <add key="IgnoreFolders" value="_svn|.svn"/>
  </appSettings>
</configuration>